## Ans - 1

In [3]:
tup1 = [("Sachin Tendulkar",34357),("Ricky Ponting",27483),("Jack Kallis",25534),("Virat Kohli",24936)]
tup1.sort(key=lambda x: x[1])
print(tup1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Ans - 2

In [22]:
li = [1,2,3,4,5,6,7,8,9,10]
ans_sqrt = list(map(lambda x: x ** 2, li))
print("Square : {}".format(ans_sqrt))

Square : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Ans - 3

In [23]:
li2 = [1,2,3,4,5,6,7,8,9,10]
ans_li_to_str = tuple(map(lambda x: str(x), li2))
print("INT to STR : {}".format(ans_li_to_str))

INT to STR : ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Ans - 4

In [53]:
from functools import reduce
data = range(1,26)
ans_reduce = reduce(lambda x, y: x + y, data)
print("Product of 1 to 25 : {}".format(ans_reduce))

Product of 1 to 25 : 325

## Ans - 5

In [54]:
li3 = [2,3,6,9,27,60,90,120,55,46]
ans_filter = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, li3))
print("Divisible by 2 and 3 : {}".format(ans_filter))

Divisible by 2 and 3 : [6, 60, 90, 120]

## Ans - 6

In [45]:
li4 = ["python","php","aba","radar","level"]
ans_palindrome = list(filter(lambda x : x if x[::1] == x[::-1] else "",li4))
print("Palindrome : {}".format(ans_palindrome))

Palindrome : ['php', 'aba', 'radar', 'level']