## Ans - 1

In [77]:
class Vehicle:
    def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
        self.name_of_vehicle = name_of_vehicle
        self.max_speed = max_speed
        self.average_of_vehicle = average_of_vehicle

## Ans - 2

In [78]:
class Car(Vehicle):
    def seating_capacity(self,capacity):
        self.capacity = capacity
        return self.name_of_vehicle,self.capacity

In [79]:
v2 = Car("mustange",300,150)

In [80]:
v2.name_of_vehicle,v2.max_speed,v2.average_of_vehicle

('mustange', 300, 150)

In [81]:
v2.seating_capacity(20)

('mustange', 20)

## Ans - 3

#### Multiple Inheritance : 
#### One single child class inherited by two or more than two base class called multiple inheritance.
#### Here i create AccountDept and ItDept class. this class have some method and members.
#### company class inherit all the data members and method from this two class. now company class object can access acc_emp and it_emp variable and acc_details and it_details from both class.

In [82]:
class AccountDept:
    def acc_details(self):
        self.acc_emp = 20
        print("This is account department.")

class ItDept:
    def it_details(self):
        self.it_emp = 30
        print("This is IT department.")

class Company(AccountDept,ItDept):
    def print_details(self):
        return self.acc_emp,self.it_emp

In [83]:
tata = Company()

In [84]:
tata.acc_details()

This is account department.

In [85]:
tata.it_details()

This is IT department.

In [86]:
tata.acc_emp

20

In [87]:
tata.it_emp

30

In [88]:
tata.print_details()

(20, 30)

## Ans - 4

#### When we create class we create private varible and method inside that class.
#### We don't want any user to direct interact with our class to aechive abstraction concept.
#### When we create private variable and method then no one can access or modify this variable values.
#### For that we create getter and setter method.
#### Setter : to set value of private variables.
#### Getter : to get value of private variables.
#### By using this getter and setter method user can access and modify private variables values.

In [92]:
class GujaratUniversity:
    def __init__(self,std_name,std_city,std_course,std_email):
        self.__std_name = std_name
        self.__std_city = std_city
        self.__std_course = std_course
        self.__std_email = std_email
    
    def setter_update_name(self,update_name):
        self.__std_name = update_name
    
    def setter_update_city(self,update_city):
        self.__std_city = update_city
    
    def setter_update_course(self,update_course):
        self.__std_course = update_course
    
    def setter_update_email(self,update_email):
        self.__std_email = update_email
    
    def getter_details(self):
        return f"Name : {self.__std_name} | City : {self.__std_city} | Course : {self.__std_course} | Email : {self.__std_email}"
        
    def __str__(self):
        return f"Name : {self.__std_name} | City : {self.__std_city} | Course : {self.__std_course} | Email : {self.__std_email}"

In [93]:
himal = GujaratUniversity("himal","ahmedabad","MSCIT_BIA","himal@gmail.com")

In [95]:
himal.getter_details()

'Name : himal | City : ahmedabad | Course : MSCIT_BIA | Email : himal@gmail.com'

In [96]:
himal.setter_update_name("Hitesh")

In [97]:
himal.setter_update_city("Gandhinagar")

In [98]:
himal.setter_update_course("MTECH_AI")

In [99]:
himal.setter_update_email("himal2@gmail.com")

In [101]:
himal.getter_details()

'Name : Hitesh | City : Gandhinagar | Course : MTECH_AI | Email : himal2@gmail.com'

## Ans - 5

#### Method Overriding : 
#### We have same name and same parameter of any method in different classes and they are inherit their properties.
#### At runtime python will decide to call which method from which class.

In [113]:
class BscIT:
    def course_info(self):
        print("This is bsc it course information.")
        
class MscIT(BscIT):
    def course_info(self):
        # BscIT.course_info(self)
        print("This is msc it course information.")

In [114]:
harsh = MscIT()

In [115]:
harsh.course_info()

This is msc it course information.