In [97]:
data = "This is himal mevada"

In [98]:
data.islower()

False

In [99]:
data.isupper()

False

In [100]:
data.istitle()

False

In [101]:
"    ".isspace()

True

In [102]:
data.upper().isupper()

True

In [103]:
"himal123".isalnum()

True

In [104]:
"1234".isnumeric()

True

In [105]:
"10".isdecimal()

True

In [106]:
"himal".isalpha()

True

In [107]:
"   himal   ".strip()

'himal'

In [108]:
"   himal   ".rstrip()

'   himal'

In [109]:
"   himal   ".lstrip()

'himal   '

In [110]:
"12345".zfill(8)

'00012345'

In [111]:
data

'This is himal mevada'

In [112]:
reversed(data)

In [113]:
" ".join("himal")

'h i m a l'

In [114]:
"-".join("himal")

'h-i-m-a-l'

In [115]:
"".join(reversed(data))

'adavem lamih si sihT'

In [116]:
"_".join(reversed("himal"))

'l_a_m_i_h'

In [117]:
data.replace("himal","jigar")

'This is jigar mevada'

In [118]:
"himal \t recond himal".expandtabs()

'himal    recond himal'

In [119]:
data.startswith("I am")

False

In [120]:
data.endswith(".")

False

In [121]:
for i in range(len(data)):
    print(i,data[i])

0 T
1 h
2 i
3 s
4
5 i
6 s
7
8 h
9 i
10 m
11 a
12 l
13
14 m
15 e
16 v
17 a
18 d
19 a

In [122]:
for i in range(len(data)-1,-1,-1):
    print(data[i],end="")

adavem lamih si sihT

In [123]:
count = len(data) - 1
while count > 0:
    print(data[count],end="")
    count -= 1

adavem lamih si sih

In [124]:
for i in range(len(data)):
    print(data[len(data) - (i+1)],end="")

adavem lamih si sihT

In [125]:
name = "pwskills"
vovels = "AaEeIiOoUu"

In [126]:
for ch in name:
    if ch in vovels:
        print("{} in vovels".format(ch))
    else:
        print("{} not in vovels".format(ch))

p not in vovels
w not in vovels
s not in vovels
k not in vovels
i in vovels
l not in vovels
l not in vovels
s not in vovels

### List

In [127]:
l1 = [1,2,1,2,33,True,False,"Himal",1+3j]

In [128]:
l1

[1, 2, 1, 2, 33, True, False, 'Himal', (1+3j)]

In [129]:
s = "This is my first string."
s = s.split()

In [130]:
s

['This', 'is', 'my', 'first', 'string.']

In [131]:
s[:-1]

['This', 'is', 'my', 'first']

In [132]:
s[::-1]

['string.', 'first', 'my', 'is', 'This']

In [133]:
s[2:4]

['my', 'first']

In [134]:
l1 + ["New addede"]

[1, 2, 1, 2, 33, True, False, 'Himal', (1+3j), 'New addede']

In [135]:
l1 = l1 + [44,["nested","data"]]

In [136]:
l1[-1]

['nested', 'data']

In [137]:
l1[-1][0]

'nested'

In [138]:
l1 * 2

[1,
 2,
 1,
 2,
 33,
 True,
 False,
 'Himal',
 (1+3j),
 44,
 ['nested', 'data'],
 1,
 2,
 1,
 2,
 33,
 True,
 False,
 'Himal',
 (1+3j),
 44,
 ['nested', 'data']]

In [139]:
l1

[1, 2, 1, 2, 33, True, False, 'Himal', (1+3j), 44, ['nested', 'data']]

In [140]:
for i in l1:
    print(i)
    if i == "Himal":
        print("we got himal")
        break

1
2
1
2
33
True
False
Himal
we got himal

In [141]:
if True in l1:
    print("Available")

Available

In [142]:
l1 = [23,1,3,4,34,55]

In [143]:
min(l1),max(l1)

(1, 55)

In [144]:
l2 = ["Himal","Ashok","Krishna","Ruchi"]

In [145]:
min(l2),max(l2)

('Ashok', 'Ruchi')

In [146]:
2 in [2,3,4]

True

In [147]:
5 == 5.0

True

In [148]:
l1

[23, 1, 3, 4, 34, 55]

In [149]:
l1.append(20)

In [150]:
l1

[23, 1, 3, 4, 34, 55, 20]

In [151]:
l1.append([9,8])

In [152]:
l1

[23, 1, 3, 4, 34, 55, 20, [9, 8]]

In [153]:
l1.extend(['himal','yash'])

In [154]:
l1

[23, 1, 3, 4, 34, 55, 20, [9, 8], 'himal', 'yash']

In [155]:
l1.pop()

'yash'

In [156]:
l1

[23, 1, 3, 4, 34, 55, 20, [9, 8], 'himal']

In [157]:
l1.pop(-2)

[9, 8]

In [158]:
l1

[23, 1, 3, 4, 34, 55, 20, 'himal']

In [159]:
l1.insert(1,99)

In [160]:
l1

[23, 99, 1, 3, 4, 34, 55, 20, 'himal']

In [161]:
l1.remove(3)

In [162]:
l1

[23, 99, 1, 4, 34, 55, 20, 'himal']

In [163]:
l1.reverse()

In [164]:
l1

['himal', 20, 55, 34, 4, 1, 99, 23]

In [165]:
l1.pop(0)

'himal'

In [166]:
l1.sort()

In [167]:
l1.sort(reverse=True)

In [168]:
l1

[99, 55, 34, 23, 20, 4, 1]

### Nested List

In [169]:
# Nested List
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

matrix = [l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [170]:
matrix[2][1:]

[8, 9]

In [171]:
matrix[0][0],matrix[1][0],matrix[2][0]

(1, 4, 7)

In [172]:
matrix[0][0],matrix[1][0],matrix[2][0]

(1, 4, 7)

In [173]:
[i for i in range(20) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [174]:
[i if i%2==0 else '' for i in range(20)]

[0, '', 2, '', 4, '', 6, '', 8, '', 10, '', 12, '', 14, '', 16, '', 18, '']

In [175]:
[i for i in range(20) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [176]:
lst = [1,2,3,4,5,6,7,8]

even_sum = 0
odd_sum = 0
for i in lst:
    if i % 2 ==0:
        even_sum += i
    else:
        odd_sum += i        
        
print(even_sum)
print(odd_sum)

20
16

In [188]:
lst = [1,2,3,4,5,6,7,8]

even_sum = 0
odd_sum = 0
for i in lst:
    if i % 2 ==0:
        even_sum += i
    else:
        odd_sum += i        
        
print(even_sum)
print(odd_sum)

20
16

In [190]:
e_sum = sum([i for i in lst if i % 2 == 0])
o_sum = sum([i for i in lst if i % 2 != 0])
print(e_sum,o_sum)

20 16

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
sq_lst = [i**2 for i in lst]
print(sq_lst)

In [ ]:
lst = [-2,-1,0,1,2,3,4]
p_num = [i for i in lst if i>0]
n_num = [i for i in lst if i<0]

In [179]:
words = ['apple','banana','cherry','date']
dd = [i[0] for i in words]
dd

['a', 'b', 'c', 'd']

In [180]:
cel_temp = [0,10,20,30,40,50]
fr = [((9*5) * i + 32) for i in cel_temp]
fr

[32, 482, 932, 1382, 1832, 2282]

In [208]:
nested_list = [[i,j] for i in numbers for j in numbers]

In [209]:
nested_list

[[1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [2, 5],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4],
 [4, 5],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 5]]

In [232]:
# find prime using list comprehension.
# numbers = [1,2,3,4,5,6,7,8,9,10]
# [["" if i%j == 0 else i for i in numbers] for j in range(2,i)]

# for i in [1,2,3,4,5,6]:
#     for j in range(2,i):
#         if i % j == 0:
#             break
#         print(i)

In [184]:
numbers = [1,2,3,4,5]
lst = []
for i in numbers:
    for j in numbers:
        lst.append([i,j])

In [185]:
lst

[[1, 1],
 [1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [2, 1],
 [2, 2],
 [2, 3],
 [2, 4],
 [2, 5],
 [3, 1],
 [3, 2],
 [3, 3],
 [3, 4],
 [3, 5],
 [4, 1],
 [4, 2],
 [4, 3],
 [4, 4],
 [4, 5],
 [5, 1],
 [5, 2],
 [5, 3],
 [5, 4],
 [5, 5]]