## Tuples

In [80]:
t = ()

In [81]:
type(t)

tuple

In [82]:
t1 = (1,2,3,'Himal',True,False,4+2j,3.4)

In [83]:
type(t1)

tuple

In [84]:
print(t1)

(1, 2, 3, 'Himal', True, False, (4+2j), 3.4)

In [85]:
l = [1,'Himal',True]

In [86]:
print(l)

[1, 'Himal', True]

In [87]:
type(l)

list

In [88]:
t1

(1, 2, 3, 'Himal', True, False, (4+2j), 3.4)

In [89]:
t1[0]

1

In [90]:
t1[1]

2

In [91]:
t1[3:5]

('Himal', True)

In [92]:
t1[::-1]

(3.4, (4+2j), False, True, 'Himal', 3, 2, 1)

In [93]:
t1[::-2]

(3.4, False, 'Himal', 2)

In [94]:
t1[::-3]

(3.4, True, 2)

In [95]:
t1[:3]

(1, 2, 3)

In [96]:
t1[:3:2]

(1, 3)

In [97]:
t1.count(False)

1

In [98]:
t1[2:].index(True)

2

In [99]:
t1[::-1].index(1)

3

In [100]:
t1[::-1]

(3.4, (4+2j), False, True, 'Himal', 3, 2, 1)

In [101]:
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Himal <class 'str'>
True <class 'bool'>
False <class 'bool'>
(4+2j) <class 'complex'>
3.4 <class 'float'>

In [102]:
t2 = (1,2,3,3,4)

In [103]:
t2 * 3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [104]:
max(t2)

4

In [105]:
min(t2)

1

In [106]:
t2[0] = 0

TypeError: 'tuple' object does not support item assignment

In [111]:
t1 = (1,2,3,4)
t2 = (4,5,6,7,8)

In [112]:
t3 = t1 + t2

In [113]:
t3

(1, 2, 3, 4, 4, 5, 6, 7, 8)

In [114]:
t4 = (t1,t2)

In [126]:
t4

((1, 2, 3, 4), (4, 5, 6, 7, 8))

In [127]:
t5 = ((1,2,3,4),[1,4,5,3],"Himal")

In [128]:
t5

((1, 2, 3, 4), [1, 4, 5, 3], 'Himal')

In [129]:
del t5

In [131]:
t5

NameError: name 't5' is not defined

In [135]:
t4

((1, 2, 3, 4), (4, 5, 6, 7, 8))

In [142]:
len(t4)

2

In [143]:
"Himal" in t1

False

In [ ]:
1 in t1

## Sets

In [145]:
s = {}

In [146]:
type(s)

dict

In [147]:
s1 = {1,2,3,4}

In [148]:
type(s1)

set

In [162]:
s2 = {2,3,1,2,43,67,21,3,4,2,44,2,54,4,2}

In [163]:
s2

{1, 2, 3, 4, 21, 43, 44, 54, 67}

In [169]:
l1 = list(s2)

In [168]:
tuple(s2)

(1, 2, 3, 67, 4, 43, 44, 21, 54)

In [170]:
l1 = set(l1)

In [171]:
l1

{1, 2, 3, 4, 21, 43, 44, 54, 67}

In [172]:
s4 = {1,2,3,4,[1,2,3,4]}

TypeError: unhashable type: 'list'

### In set it try to find unique values in the set by converting our information into hashable index. Thst's why it is not allowing to store list into sets.

In [173]:
s5 = {4,3,2,5,(4,3,2,1)}

In [ ]:
s5

### In above case set allow tuples to store. But it not allow list because list it mutable and tuples is not mutable.
### so tuples is mutable that means it can create a proper hashable index but list can not.

In [175]:
s6 = {"Himal","himal",12,32,122}

In [176]:
s6

{12, 122, 32, 'Himal', 'himal'}

In [178]:
s7 = {"himal","himal",12,32,122}

In [179]:
s7

{12, 122, 32, 'himal'}

In [180]:
s7[0]

TypeError: 'set' object is not subscriptable

In [181]:
s7[0:4]

TypeError: 'set' object is not subscriptable

In [183]:
s7[::-1]

TypeError: 'set' object is not subscriptable

In [184]:
s7[0] = 99

TypeError: 'set' object does not support item assignment

In [187]:
for i in s7:
    print(i)

32
122
12
himal

In [191]:
s7.add(99)
s7

{12, 122, 32, 99, 'himal'}

In [193]:
s7.add(32)
s7

{12, 122, 32, 99, 'himal'}

In [194]:
len(s7)

5

In [197]:
s7.pop()

99

In [198]:
s7

{12, 122, 'himal'}

In [199]:
s7.clear()

In [200]:
s7

set()

In [205]:
s8 = {1,4,3,23,1,23,"Himal","Jay"}
s8.remove("Jay")

In [206]:
s8

{1, 23, 3, 4, 'Himal'}

In [207]:
s8.remove(0)

KeyError: 0

In [209]:
s8.remove(1)

In [210]:
s8

{23, 3, 4, 'Himal'}

In [217]:
s8.update({1,2,3,11,22})

In [218]:
s8

{1, 11, 2, 22, 23, 3, 4, 'Himal'}

In [219]:
set1 = {12,3,2,11}
set2 = {1,2,3,4,5,11}

In [221]:
set3 = set1.union(set2)

In [222]:
set3

{1, 2, 3, 4, 5, 11, 12}

In [242]:
# all the item from set1 excluding common item in both.
set1.difference(set2)

{12}

In [244]:
# Common items from both sets.
set1.intersection(set2)

{2, 3, 11}

In [246]:
# True if both sets have difference items.
set3 = {1,2,3}
set4 = {4,5,6}
set3.isdisjoint(set4)

True

In [247]:
set5 = {1,2,3,4,5,6}
set6 = {1,4,6}

In [248]:
# Set5 contains all the items of set6 that means set5 is superset of set6.
set5.issuperset(set6)

True

In [249]:
# All the items of set6 are in set5 that means set6 is subset of set5.
set6.issubset(set5)

True

In [253]:
set1,set2

({2, 3, 11, 12}, {1, 2, 3, 4, 5, 11})

In [ ]:
# All the items that not common in both from given sets.
set1.symmetric_difference(set2)

## Dictionary

In [264]:
d = {}

In [265]:
type(d)

dict

In [266]:
d1 = {"name":"Himal","email":"himal@gmail.com","number":9996665559}

In [267]:
d1

{'name': 'Himal', 'email': 'himal@gmail.com', 'number': 9996665559}

In [268]:
type(d1)

dict

In [269]:
d2 = {"name":"himal","name":"Haresh"}

In [270]:
d2

{'name': 'Haresh'}

In [272]:
d3 = {123:"Himal"}

In [273]:
d3

{123: 'Himal'}

In [274]:
d4 = {11.22:'himal'}

In [277]:
d4

{11.22: 'himal'}

In [278]:
d5 = {True:'This is boolean'}

In [279]:
d5

{True: 'This is boolean'}

In [281]:
d6 = {#:123}

SyntaxError: unexpected EOF while parsing (1604546272.py, line 1)

In [282]:
d7 = {@:1234}

SyntaxError: invalid syntax (4120666943.py, line 1)

In [284]:
d8 = {[1,2,3,4]:'List'}

TypeError: unhashable type: 'list'

In [285]:
d9 = {(1,2,3):"himal"}

In [286]:
d9

{(1, 2, 3): 'himal'}

In [287]:
d10 = {{1,2,3}:'himal'}

TypeError: unhashable type: 'set'

In [288]:
d11 = {{"key":11}:"himal"}

TypeError: unhashable type: 'dict'

In [289]:
v1 = {"Course_name":['Data Science Master','Web development','Java with DSA']}

In [290]:
v1

{'Course_name': ['Data Science Master', 'Web development', 'Java with DSA']}

In [291]:
v2 = {"tuple":(1,2,3)}

In [292]:
v2

{'tuple': (1, 2, 3)}

In [293]:
v3 = {"set":{1,2,3}}

In [294]:
v3

{'set': {1, 2, 3}}

In [297]:
v4 = {"dict":{"course_name":"data_science","age":20}}

In [298]:
v4

{'dict': {'course_name': 'data_science', 'age': 20}}

In [397]:
v5 = {"batch_name":["data science masters","web dev","java with DSA"],"start_date":(28,14,21),"mentor_name":{"krish naik","shudhanshu","himal mevada"}}

In [398]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'}}

In [399]:
v5["timing"] = (6,8,9)

In [400]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (6, 8, 9)}

In [401]:
v5["timing"] = (4,3,5)

In [402]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [403]:
v5["batch_name"]

['data science masters', 'web dev', 'java with DSA']

In [404]:
v5["timing"]

(4, 3, 5)

In [405]:
type(v5["batch_name"])

list

In [406]:
type(v5["timing"])

tuple

In [407]:
v5['names']

KeyError: 'names'

In [408]:
v5["name"] = "himal_mevada"

In [409]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'name': 'himal_mevada'}

In [410]:
v5["name"]

'himal_mevada'

In [411]:
v5["name"].upper()

'HIMAL_MEVADA'

In [412]:
v5["batch_name"][::-1]

['java with DSA', 'web dev', 'data science masters']

In [413]:
v4

{}

In [414]:
v5["nested_dict"] = v4["dict"]

KeyError: 'dict'

In [415]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'name': 'himal_mevada'}

In [416]:
v5["nested_dict"]["age"]

KeyError: 'nested_dict'

In [417]:
v5["key"] = "value"

In [418]:
del v5["key"]

In [419]:
v5["key"]

KeyError: 'key'

In [420]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'name': 'himal_mevada'}

In [421]:
v4.clear()

In [422]:
v4

{}

In [423]:
len(v5)

5

In [424]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'name': 'himal_mevada'}

In [425]:
v5.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [426]:
v5.values()

dict_values([['data science masters', 'web dev', 'java with DSA'], (28, 14, 21), {'shudhanshu', 'himal mevada', 'krish naik'}, (4, 3, 5), 'himal_mevada'])

In [427]:
list(v5.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [428]:
list(v5.values())

[['data science masters', 'web dev', 'java with DSA'],
 (28, 14, 21),
 {'himal mevada', 'krish naik', 'shudhanshu'},
 (4, 3, 5),
 'himal_mevada']

In [429]:
v5.items()

dict_items([('batch_name', ['data science masters', 'web dev', 'java with DSA']), ('start_date', (28, 14, 21)), ('mentor_name', {'shudhanshu', 'himal mevada', 'krish naik'}), ('timing', (4, 3, 5)), ('name', 'himal_mevada')])

In [430]:
list(v5.items())

[('batch_name', ['data science masters', 'web dev', 'java with DSA']),
 ('start_date', (28, 14, 21)),
 ('mentor_name', {'himal mevada', 'krish naik', 'shudhanshu'}),
 ('timing', (4, 3, 5)),
 ('name', 'himal_mevada')]

In [444]:
# Deep Copy
v6 = v5.copy()

In [445]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [446]:
id(v5)

2450786899200

In [447]:
id(v6)

2450780475712

In [ ]:
del v5['name']

In [449]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [450]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [443]:
# Swallow Copy
v7 = v6

In [440]:
del v6["name"]

In [441]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [442]:
v7

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [457]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [458]:
v6['DOB'] = "2nd-jan-2002"

In [459]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'DOB': '2nd-jan-2002'}

In [460]:
v6.pop()

TypeError: pop expected at least 1 argument, got 0

In [461]:
v6.pop("DOB")

'2nd-jan-2002'

In [489]:
v6

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5)}

In [507]:
dd = {}
dd = dd.fromkeys({1,2,3},["Himal","Yash"])

In [508]:
dd

{1: ['Himal', 'Yash'], 2: ['Himal', 'Yash'], 3: ['Himal', 'Yash']}

In [509]:
dd = dd.fromkeys(["Skills"],"PHP")

In [510]:
dd

{'Skills': 'PHP'}

In [511]:
d1 = {"key1":"value1","key2":"value2"}
d2 = {"key3":"value3","key4":"value4"}

In [513]:
(d1,d2)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [514]:
d1.update(d2)

In [515]:
d1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [516]:
d2

{'key3': 'value3', 'key4': 'value4'}

In [518]:
d2.update(d1)

In [519]:
d2

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [521]:
d2.get("k")

In [523]:
d2.get("key1")

'value1'

In [524]:
d2["key1"]

'value1'

In [525]:
d2["k"]

KeyError: 'k'

In [533]:
v5.setdefault("data2",20)

20

In [535]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'data': None,
 'data2': 20}

In [537]:
# Dictonary Comprehensions

In [547]:
dict2 = {i:i**2 for i in range(1,11)}

In [548]:
dict2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [549]:
dict2[4]

16

In [550]:
dict3 = {i:i+10 for i in range(1,11)}

In [551]:
dict3

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [552]:
import math
dict4 = {i :math.log10(i)for i in range(1,11)}

In [553]:
dict4

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [554]:
v5

{'batch_name': ['data science masters', 'web dev', 'java with DSA'],
 'start_date': (28, 14, 21),
 'mentor_name': {'himal mevada', 'krish naik', 'shudhanshu'},
 'timing': (4, 3, 5),
 'data': None,
 'data2': 20}

In [555]:
"data2" in v5

True

In [562]:
for i in v5:
    print(f"{i} : {v5.get(i)}")

batch_name : ['data science masters', 'web dev', 'java with DSA']
start_date : (28, 14, 21)
mentor_name : {'shudhanshu', 'himal mevada', 'krish naik'}
timing : (4, 3, 5)
data : None
data2 : 20

In [574]:
for i in dict4.keys():
    if i%2==0:
        print(f"{i} : {dict4[i]}")

2 : 0.3010299956639812
4 : 0.6020599913279624
6 : 0.7781512503836436
8 : 0.9030899869919435
10 : 1.0

In [570]:
dd = {i for i in dict4 if i%2==0}

In [571]:
type(dd)

set

In [575]:
dd

{2, 4, 6, 8, 10}

In [577]:
temp = v5.get('data3')

In [579]:
print(temp)

None

In [581]:
temp = v5['data3']

KeyError: 'data3'

In [582]:
d1 = {"name":"himal","age":21}
d2 = {"age":21,"name":"himal"}

d1 == d2

True

In [585]:
d1 = {"name","himal","age"}
d2 = set(d1)

In [586]:
d2

{'age', 'himal', 'name'}