## Operator : 
#### 1. Arithmetic Operator :  +  -  *  %  / // **
#### 2. Comparision Operator : >  <  >=  <=
#### 3. Logical Operator :  and  or  not
#### 4. Bitwise Operator : ~  &  |  <<  >>  ^
#### --------------------------------------------------------

### Logical Operators :
#### 1. and
#### 2. or
#### 3. not

#### A-B-AND-OR
        
#### 0--0--0--0
#### 1--0--0--1
#### 0--1--0--1
#### 1--1--1--1

In [3]:
True and True

True

In [4]:
True and False

False

In [5]:
False and False

False

In [27]:
START = True
STOP = False

print(f"Start : {START}")
print(f"Stop : {STOP}\n")

print(f"Start : {START}")
print(f"Negative Start : {not START}\n")

print(f"Stop : {STOP}")
print(f"Negative Stop : {not STOP}")

Start : True
Stop : False

Start : True
Negative Start : False

Stop : False
Negative Stop : True

In [11]:
not True

False

In [12]:
not False

True

In [18]:
not int(bool(0))
# not 0

True

In [23]:
not int(bool(-2))
# not -2

False

In [29]:
not int(bool(2))
# not -2

False

In [25]:
not 1 , not 0

(False, True)

In [37]:
START = 1
STOP = 0

print(f"Start : {START}")
print(f"Stop : {STOP}\n")

print(f"Start : {START}")
print(f"Stop using Negative of Start : {int(not START)}\n")

print(f"Stop : {STOP}")
print(f"Start using Negative of Stop : {int(not STOP)}")

Start : 1
Stop : 0

Start : 1
Stop using Negative of Start : 0

Stop : 0
Start using Negative of Stop : 1

In [33]:
not 1

False

In [34]:
not 0

True

In [35]:
int(not 1)

0

In [38]:
int(not 0)

1

In [40]:
zero = 0
one = 1

print(f"boolean values of no. {zero} is {bool(zero)}")
print(f"boolean values of no. {one} is {bool(one)}")
print(f"negation of {zero} is {not zero} and negation of {one} is {not one}")

boolean values of no. 0 is False
boolean values of no. 1 is True
negation of 0 is True and negation of 1 is False

In [42]:
neg_num = -5
pos_num = 5

print(f"boolean values of no. {neg_num} is {bool(neg_num)}")
print(f"boolean values of no. {pos_num} is {bool(pos_num)}")
print(f"negation of {neg_num} is {not neg_num} and negation of {pos_num} is {not pos_num}")

boolean values of no. -5 is True
boolean values of no. 5 is True
negation of -5 is False and negation of 5 is False

In [43]:
bool(5)

True

In [44]:
bool(-5)

True

In [45]:
not 5

False

In [46]:
not -5

False

In [47]:
# And :

In [49]:
veg = True
salt = False
dish = veg and salt

print(f"Dish contains vegetables : {veg}")
print(f"Dish contains salt : {salt}")
print(f"Hence dish prepared was good : {dish}")

Dish contains vegetables : True
Dish contains salt : False
Hence dish prepared was good : False

In [59]:
True + False, True * False

(1, 0)

In [60]:
True - False, False / True, False % True

(1, 0.0, 0)

#### BODMAS :

In [107]:
not True * False
# not (1 * 0) = 0
# not (0)
# True

True

In [108]:
not (True * True)
# not (1 * 1) = 1
# not (1)
# False

False

In [85]:
not (False) * True

True

In [86]:
not False * False

True

In [87]:
(not False)

True

In [88]:
not False * False
# not 0 * 0
# not 0
# True

True

In [96]:
False * (not(False))
# (not(False)) = 1
# False * 1
# 0

0

In [98]:
not(False) * False

True

In [109]:
(not(False)) * False
# (not (False)) = 1
# 1 * False
# 0

0

In [115]:
(not (False))

True

In [137]:
True * (not (False))

1

In [133]:
(not (True))

False

### Equality Operator :
#### 1. is     : a and b returns true if a and b points to the same object.
#### 2. is not : a and b returns true if a and b points to the different object.
#### 3. ==     : a == b returns true if a and b has same value.
#### 4. !=     : a != b retuens true if a and b has different value.

In [154]:
l1 = [1,2,3,4]
l2 = [1,2,3,4]

In [155]:
id(l1)

2542901134784

In [156]:
id(l2)

2542901177216

In [157]:
if l1 is l2:
    print("l1 and l2 have same memory address.")
else:
    print("l1 and l2 have different memory address.")

l1 and l2 have different memory address.

In [158]:
if l1 == l2 : print("l1 and l2 have same values.")
else: print("l1 and l2 have different values.")

l1 and l2 have same values.

In [159]:
l3 = l2

In [160]:
id(l3)

2542901177216

In [161]:
id(l2)

2542901177216

In [163]:
l3 is l2

True

In [164]:
l2 == l2

True

In [166]:
l1 is not l2

True

In [183]:
l1 != l2

False

In [184]:
a = 1
b = 1

In [185]:
id(a),id(b)

(2542781294896, 2542781294896)

In [186]:
st1 = "himal"
st2 = "himal"

In [187]:
id(st1),id(st2)

(2542901110640, 2542901110640)

In [188]:
st1 = "himal"
st2 = "himal2"

In [189]:
id(st1),id(st2)

(2542901110640, 2542901200560)

In [195]:
l1[0] = 10

In [196]:
l1

[10, 2, 3, 4]

In [197]:
st1[0]

'h'

In [198]:
st1[0] = "h"

TypeError: 'str' object does not support item assignment

### Comparison Operator :
#### 1. < : less than
#### 2. > : greater than
#### 3. <= : less than and equal to
#### 4. >= : greater than and equal to

In [199]:
max_speed_car = 250
max_speed_bike = 120
print(f"Bikes is faster than car : {max_speed_bike > max_speed_car}")

Bikes is faster than car : False

In [201]:
max_speed_car = 120
max_speed_bike = 120
print(f"Bikes is faster than car : {max_speed_bike >= max_speed_car}")

Bikes is faster than car : True

In [202]:
max_speed_car = 250
max_speed_bike = 120
print(f"Bikes is faster than car : {max_speed_bike < max_speed_car}")

Bikes is faster than car : True

In [203]:
max_speed_car = 110
max_speed_bike = 120
print(f"Bikes is faster than car : {max_speed_bike <= max_speed_car}")

Bikes is faster than car : False

### Arithmetic Operator :
#### +  : addition.
#### -  : subtraction.
#### *  : multiplication.
#### /  : true division.
#### // : floor division / integer division.
#### %  : modulo operator.

In [204]:
a = 100
b = 230

In [205]:
a + b

330

In [206]:
a- b

-130

In [207]:
a * b

23000

In [208]:
a / b

0.43478260869565216

In [209]:
b / a

2.3

In [210]:
b // a

2

In [211]:
a = 2 
b = 3

In [212]:
a ** b

8

In [213]:
a % b

2

In [214]:
b % a

1

### Bitwise Operator :
#### ~   : bitwise complement (prefix unary opeator).
#### &   : bitwise and.
#### |   : bitwise or.
#### ^   : bitwise exclusive-or.
#### <<  : shift bits left, filling in with zeros.
#### >>  : shift bits right, filling in with sign bit.

In [218]:
~10

-11

In [241]:
10 & 7 , False & True

(2, False)

In [242]:
10 | 7, False | True

(15, True)

In [243]:
10 ^ 7, False ^ True

(13, True)

In [228]:
10 << 1

20

In [234]:
10 >> 1

5

In [239]:
bin(20)

'0b10100'

### String :

In [251]:
name = "I am himal mevada"

In [252]:
type(name)

str

In [253]:
name[0]

'I'

In [254]:
name[0] = "V"

TypeError: 'str' object does not support item assignment

In [255]:
name

'I am himal mevada'

In [256]:
for i in name:
    print(i)

I

a
m

h
i
m
a
l

m
e
v
a
d
a

#### Slice Operation :

In [257]:
name[:6]

'I am h'

In [260]:
name[-1]

'a'

In [261]:
name[3:7]

'm hi'

In [270]:
name[-6:17]

'mevada'

In [271]:
len(name)

17

In [274]:
st = "Himal"

In [276]:
st[-3:4]

'ma'

In [277]:
name[::-1]

'adavem lamih ma I'

In [278]:
name[::-2]

'aae ai aI'

In [279]:
name[::2]

'Ia ia eaa'

In [280]:
name

'I am himal mevada'

In [290]:
name[-6:7:-1]

'm la'

In [292]:
name[-6::-2]

'mlmhm '

In [293]:
data = "I am himal mevada from ahmedabad."

In [296]:
data * 3

'I am himal mevada from ahmedabad.I am himal mevada from ahmedabad.I am himal mevada from ahmedabad.'

In [304]:
data.find('a')

2

In [307]:
data.find('i',5,12)

6

In [309]:
data.find("u")

-1

In [310]:
data.count("d")

3

In [312]:
data.count(" ")

5

In [313]:
data.count("")

34

In [316]:
data.split(" ")

['I', 'am', 'himal', 'mevada', 'from', 'ahmedabad.']

In [319]:
data.split(" ",maxsplit=2)

['I', 'am', 'himal mevada from ahmedabad.']

In [322]:
data.partition("h")

('I am ', 'h', 'imal mevada from ahmedabad.')

In [323]:
data.partition("-")

('I am himal mevada from ahmedabad.', '', '')

In [326]:
data.upper()

'I AM HIMAL MEVADA FROM AHMEDABAD.'

In [353]:
"himal mevada".capitalize()

'Himal mevada'

In [328]:
data.lower()

'i am himal mevada from ahmedabad.'

In [329]:
data.title()

'I Am Himal Mevada From Ahmedabad.'

In [330]:
data.swapcase()

'i AM HIMAL MEVADA FROM AHMEDABAD.'

In [444]:
data.casefold()

'i am himal mevada from ahmedabad.'